.d-flex{
    display: flex;
}

.flex-all-cen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-jus-cen{
    display: flex;
    justify-content: center;
}

.flex-ali-cen{
    display: flex;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.space-bet{
    display: flex;
    justify-content: space-between;
}